

/*NON DEFAULT CODE*/

* {
  font-family: Lucida Console, Monaco, monospace;
}

.landingbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
  margin: 20px;
}

.landingbutton {
  min-width: 150px;
}

.form {
  border: 1px solid #2e303a;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin: 20px;
}

.inputdiv {
  display: flex;
  align-items: center;
}

.inputlabel {
  display: inline-block;
  width: 120px;
}

.taskinputlabel {
  display: inline-block;
  width: 200px;
}

.column {
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  width: 300px;
  min-height: 200px;
}

.columntext {
  color: white;
  font-weight: bold;
  font-size: large;
}

.taskboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: gray;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  min-height: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.taskhead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.taskbody {
  font-size: smaller;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}